<div class="banner">
  <div class="banner-content">
    <h1>Le Wagon's cocktails</h1>
    <p>Awesome beverages for developers nightlife</p>

  </div>
</div>


<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
<% end %>


 <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-md" %>

